<header>
  <nav class="navbar navbar-expand navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Eleições</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a type="button" class="links" routerLink="">Página inicial</a>
            <a type="button" class="links" routerLink="eleitores/buscar">Votar</a>
            <div class="dropdown" id="primeiro">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inicio" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Resultados
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="resultados/vencedores">Vencedores</a></li>
                  <li><a class="dropdown-item" routerLink="candidatos/buscar">Individual</a></li>
                  <li><a class="dropdown-item" routerLink="cargos/selecionar">Cargo</a></li>
                </ul>
              </li>
            </div>
            <div class="dropdown">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inicio" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Eleitores
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="eleitores/cadastro">Cadastrar</a></li>
                  <li><a class="dropdown-item" routerLink="eleitores">Exibir</a></li>
                </ul>
              </li>
            </div>
            <div class="dropdown">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inicio" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Candidatos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="candidatos/cadastro">Cadastrar</a></li>
                  <li><a class="dropdown-item" routerLink="candidatos">Exibir</a></li>
                </ul>
              </li>
            </div>
            <div class="dropdown">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inicio" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cargos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="cargos/cadastro">Cadastrar</a></li>
                  <li><a class="dropdown-item" routerLink="cargos">Exibir</a></li>
                </ul>
              </li>
            </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container-fluid align-items-center" id="tela">
    <router-outlet></router-outlet>
  </div>
</main>
<footer></footer>


