.d-inicio {
  text-transform: uppercase;
  padding-top: 21px;
  font-size: 16px;
}

#primeiro {
  margin-left: 14px;
}

.nav-link {
  color:rgb(0, 0, 0);
  font-weight: bold;
}

.dropdown-item {
  font-weight: bold;
}

.links {
  color:rgba(0, 0, 0, 0.541);
  font-weight: bold;
  text-transform: uppercase;
  margin: 21px 0 0 15px;
  font-size: 16px;
  text-decoration: none;
}

.links:hover {
  color: rgb(0, 0, 0);
}

.container-white {
  background-color: rgba(0, 21, 184, 0.663);
  text-align: center;
  margin: 30px 30px 0 30px;
  padding: 5%;
  width: 95%;
  border-radius: 15px;
}

footer {
  height: 30px;
}
