<h5>Eleitores</h5>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col" class="thead-eleitores">ID</th>
      <th scope="col" class="thead-eleitores">Nome</th>
      <th scope="col" class="thead-eleitores">CPF</th>
      <th scope="col" class="thead-eleitores">Status</th>
      <th scope="col" class="thead-eleitores">Data cadastro</th>
      <th scope="col" class="thead-eleitores">Data alteração</th>
      <th scope="col" class="thead-eleitores">Data desativação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eleitor of eleitores">
      <td>{{ eleitor.id }}</td>
      <td>{{ eleitor.nome }}</td>
      <td>{{ eleitor.cpf }}</td>

      <td *ngIf="eleitor.ativo === true">Sim</td>
      <td *ngIf="eleitor.ativo === false">Não</td>

      <td>{{ eleitor.criadoEm | date: 'short' }}</td>

      <td *ngIf="eleitor.desativadoEm !== null">{{ eleitor.alteradoEm | date: 'short' }}</td>
      <td *ngIf="eleitor.alteradoEm === null">-</td>

      <td *ngIf="eleitor.desativadoEm !== null">{{ eleitor.desativadoEm | date: 'short' }}</td>
      <td *ngIf="eleitor.desativadoEm === null">-</td>
    </tr>
  </tbody>
</table>
<a type="button" class="btn btn-dark" id="botao-confirmacao" routerLink="">Página inicial</a>

