#total {
  background-color: rgb(195, 195, 195);
  padding: 15px;
  width: 85%;
  border: 2px solid black;
}

#tela {
  background-color: white;
  padding: 5%;
  margin: 4% 2% 5% 5%;
  width: 93%;
  height: 90%;
  border: 2px solid black;
}

#numeros {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5%;
  margin: 5% 5% 5% 2%;
  width: 93%;
  height: 90%;
}

.voto {
  font-weight: bold;
  font-size: 25px;
  border: 2px solid black;
  margin: 4% 2%;
  padding: 1%;
  max-width: 40px;
  height: 40px;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 160px;
  margin-top: 60px;
}

h4 {
  font-weight: bold;
}

h5 {
  padding: 5% 0;
  font-weight: bold;
  font-size: 25px
}

h6 {
  font-weight: bold;
  padding-top: 1%;
}

a {
  max-width: 80px;
  text-transform: uppercase;
  margin: 0 45%;
}

#candidato {
  padding: 20px 0px 0px 0px;
}

#partido {
  padding-top: 0px;
  font-size: 20px;
}

.digito {
  background-color: rgb(93, 93, 93);
  margin: 4%;
  padding: 15px 0;
  width: 25%;
}

.digito:hover {
  background-color: rgb(65, 65, 65);

}

#branco {
  color: black;
  text-transform: uppercase;
  background-color: white;
}

#corrige {
  color: black;
  text-transform: uppercase;
  background-color: rgb(230, 92, 0);
}

#confirma {
  color: black;
  text-transform: uppercase;
  background-color: rgb(0, 164, 14);
}

#branco:hover {
  background-color: rgb(212, 212, 212);
}

#corrige:hover {

  background-color: rgb(222, 116, 45);
}

#confirma:hover {
  background-color: rgb(74, 168, 82);
}

img {
  max-width: 35%;
}
