h5 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.col-6 {
  text-align: left;
}

#filterCpf {
  margin-right: 32px;
}

label {
  font-weight: bold;
  margin: 0 10px 30px 0;
  font-size: 18px;
}

input {
  width: 70%;
  padding: 5px;
}

.segunda-linha {
  margin-bottom: 40px;
}

table {
  vertical-align: middle;
}

.thead-candidatos {
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bold;
}

#nome {
  text-align: start;
}

.dropdown-item{
  font-weight: bold;
}

#botao-confirmacao {
  margin: 25px 10px;
}
