h5 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.d-flex {
  margin-bottom: 20px;
}

input {
  margin: 0 10px;
  max-height: 38px;
  width: 300px;
}

table {
  vertical-align: middle;
  border: 2px solid black;
  font-weight: bold;
}

.thead-candidatos {
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bold;
}

#nome {
  text-align: start;
}

.dropdown-item{
  font-weight: bold;
}

a:hover {
  background-color: rgb(120, 120, 120);
}

.botao-final {
  margin: 25px 10px;
}

#x {
  font-size: 35px;
  margin-left: 10px;
}
