<h5>Candidatos</h5>

<div class="d-flex p-2">
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button"
      id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Filtrar</button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a (click)="blFilterNome = true" type="button" class="dropdown-item">Nome</a></li>
      <li><a (click)="blFilterCpf = true" type="button" class="dropdown-item">CPF</a></li>
      <li><a (click)="blFilterCargo = true" type="button" class="dropdown-item">Cargo</a></li>
      <li><a (click)="blFilterPartido = true" type="button" class="dropdown-item">Partido</a></li>
    </ul>
  </div>
  <input *ngIf="blFilterNome" class="rounded" type="text" (keyup)="nomeDigitado($event.target)">
  <fa-icon *ngIf="blFilterNome" (click)="blFilterNome = false" (click)="filterNome = ''" id="x" [icon]="faX" type="button"></fa-icon>
  <input *ngIf="blFilterCpf" class="rounded" type="text" (keyup)="cpfDigitado($event.target)">
  <fa-icon *ngIf="blFilterCpf" (click)="blFilterCpf = false" (click)="filterCpf = ''" id="x" [icon]="faX" type="button"></fa-icon>
  <input *ngIf="blFilterCargo" class="rounded" type="text" (keyup)="cargoDigitado($event.target)">
  <fa-icon *ngIf="blFilterCargo" (click)="blFilterCargo = false" (click)="filterCargo = ''" id="x" [icon]="faX" type="button"></fa-icon>
  <input *ngIf="blFilterPartido" class="rounded" type="text" (keyup)="partidoDigitado($event.target)">
  <fa-icon *ngIf="blFilterPartido" (click)="blFilterPartido = false" (click)="filterPartido = ''" id="x" [icon]="faX" type="button"></fa-icon>
</div>

<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col" class="thead-candidatos">ID</th>
      <th scope="col" class="thead-candidatos">Nome</th>
      <th scope="col" class="thead-candidatos">CPF</th>
      <th scope="col" class="thead-candidatos">Nome do cargo</th>
      <th scope="col" class="thead-candidatos">Número</th>
      <th scope="col" class="thead-candidatos">Partido</th>
      <th scope="col" class="thead-candidatos">Data cadastro</th>
      <th scope="col" class="thead-candidatos">Data alteração</th>
      <th scope="col" class="thead-candidatos">Data desativação</th>
      <th scope="col" class="thead-candidatos">Status</th>
      <th scope="col" class="thead-candidatos">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidato of candidatos | filterNomeCandidato: filterNome | filterCpfCandidato: filterCpf | filterCargoCandidato: filterCargo | filterPartidoCandidato: filterPartido">
      <td>{{ candidato.id }}</td>
      <td id="nome">{{ candidato.nome }}</td>
      <td>{{ candidato.cpf | filterFormatarCpf }}</td>
      <td>{{ candidato.cargo.nome }}</td>
      <td>{{ candidato.numero }}</td>
      <td>{{ candidato.legenda }}</td>

      <td>{{ candidato.criadoEm | date: 'dd/MM/yy - HH:mm' }}</td>

      <td *ngIf="candidato.alteradoEm !== null">{{ candidato.alteradoEm | date: 'dd/MM/yy - HH:mm' }}</td>
      <td *ngIf="candidato.alteradoEm === null">-</td>

      <td *ngIf="candidato.desativadoEm !== null">{{ candidato.desativadoEm | date: 'dd/MM/yy - HH:mm' }}</td>
      <td *ngIf="candidato.desativadoEm === null">-</td>

      <td *ngIf="candidato.ativo === true" style="color: green;">Apto</td>
      <td *ngIf="candidato.ativo === false" style="color: red;">Inapto</td>

      <td>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a *ngIf="candidato.ativo" type="button" class="dropdown-item" [routerLink]="['/resultados/individual', candidato.id]">Resultado</a></li>
            <li><a type="button" class="dropdown-item" [routerLink]="['/candidatos/editar', candidato.id]">Editar</a></li>
            <li><a *ngIf="!candidato.votado" type="button" class="dropdown-item" (click)="deletar(candidato.id)">Deletar</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a type="button" class="btn btn-dark botao-final" routerLink="/candidatos/cadastro">Cadastrar</a>
<a type="button" class="btn btn-dark botao-final" routerLink="">Voltar</a>
