<h5>Candidatos</h5>

<div class="row">
  <div class="col-6">
    <form>
      <label>Filtrar por nome: </label>
      <input class="rounded" type="text" autofocus (keyup)="nomeDigitado($event.target)">
    </form>
  </div>
  <div class="col-6">
    <form>
      <label>Filtrar por CPF: </label>
      <input class="rounded" type="text" autofocus (keyup)="cpfDigitado($event.target)">
    </form>
  </div>
</div>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col" class="thead-candidatos">ID</th>
      <th scope="col" class="thead-candidatos">Nome</th>
      <th scope="col" class="thead-candidatos">CPF</th>
      <th scope="col" class="thead-candidatos">Nome do cargo</th>
      <th scope="col" class="thead-candidatos">Número</th>
      <th scope="col" class="thead-candidatos">Partido</th>
      <th scope="col" class="thead-candidatos">Status</th>
      <th scope="col" class="thead-candidatos">Data cadastro</th>
      <th scope="col" class="thead-candidatos">Data alteração</th>
      <th scope="col" class="thead-candidatos">Data desativação</th>
      <th scope="col" class="thead-candidatos">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidato of candidatos | filterNomeCandidato: filterNome | filterCpfCandidato: filterCpf">
      <td>{{ candidato.id }}</td>
      <td id="nome">{{ candidato.nome }}</td>
      <td>{{ candidato.cpf }}</td>
      <td>{{ candidato.cargo.nome }}</td>
      <td>{{ candidato.numero }}</td>
      <td>{{ candidato.legenda }}</td>

      <td *ngIf="candidato.ativo === true">Ativo</td>
      <td *ngIf="candidato.ativo === false">Inativo</td>

      <td>{{ candidato.criadoEm | date: 'short' }}</td>

      <td *ngIf="candidato.alteradoEm !== null">{{ candidato.alteradoEm | date: 'short' }}</td>
      <td *ngIf="candidato.alteradoEm === null">-</td>

      <td *ngIf="candidato.desativadoEm !== null">{{ candidato.desativadoEm | date: 'short' }}</td>
      <td *ngIf="candidato.desativadoEm === null">-</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a type="button" class="dropdown-item" [routerLink]="['/candidatos/editar', candidato.id]">Editar</a></li>
            <li><a type="button" class="dropdown-item" (click)="deletar(candidato.id)">Deletar</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a type="button" class="btn btn-dark" id="botao-confirmacao" routerLink="/candidatos/cadastro">Cadastrar</a>
<a type="button" class="btn btn-dark" id="botao-confirmacao" routerLink="">Voltar</a>
