.container {
  margin: 6% 0 ;
}

h5 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

table {
  margin: 0 31% 2% 29%;
  width: 40%;
  vertical-align: middle;
  vertical-align: middle;
  border: 2px solid black;
  font-weight: bold;
}

.branco-nulo-total {
  text-align: end;
}

#botao-confirmacao {
  margin: 25px 10px;
}
