<header>
  <nav class="navbar navbar-expand navbar-dark bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Eleição</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a type="button" class="links" routerLink="">Página inicial</a>
            <div class="dropdown" id="primeiro">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inicio" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Eleitor
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="eleitor-cadastro">Cadastrar</a></li>
                  <li><a class="dropdown-item" routerLink="eleitores">Exibir todos</a></li>
                </ul>
              </li>
            </div>
            <div class="dropdown">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inicio" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cargo
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="cargo-cadastro">Cadastrar</a></li>
                  <li><a class="dropdown-item" routerLink="cargos">Exibir todos</a></li>
                </ul>
              </li>
            </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container-white">
    <router-outlet></router-outlet>
  </div>
</main>


