<header>
  <nav class="navbar navbar-expand navbar-dark bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Eleição</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <div class="dropdown">
              <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Cargo
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="cargo-cadastro">Cadastrar</a></li>
                <li><a class="dropdown-item" routerLink="">Atualizar</a></li>
                <li><a class="dropdown-item" routerLink="">Deletar</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container-black">
    <router-outlet></router-outlet>
  </div>
</main>


