.container {
  background-color: white;
  border-radius: 15px;
  border: 3px solid black;
  width: 30%;
  margin: 10% 35%;
}

h5 {
  text-transform: uppercase;
  padding-top: 5%;
  font-weight: bold;
}

#form {
  padding: 5%;
  text-align: left;
}

.form-label {
  margin: 10px 0;
}

label {
  font-weight: bold;
}

select {
  border: 2px solid black;
}

button {
  margin: 30px 0 10px 0;
}

button:hover {
  background-color: rgb(58, 58, 58);
}
