<div class="container" id="total">
  <h5>{{ estaEditando() ? "Edicão" : "Cadastro" }} de cargo</h5>

  <div id="form">
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
      <fieldset>
        <label for="nome" class="form-label">Nome</label>
        <input id="nome" class="form-control" formControlName="nome"/>

        <div
          *ngIf="
            formulario.get('nome')?.errors?.['required'] &&
            formulario.get('nome')?.touched"
            class="form-text text-danger">
            Campo obrigatório
        </div>
      </fieldset>

      <fieldset>
        <label for="ativo" class="form-label">Status</label>
        <select class="form-select" formControlName="ativo">
          <option value=true>Ativo</option>
          <option value=false>Inativo</option>
        </select>
      </fieldset>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-light" [disabled]="formulario.invalid">{{ estaEditando() ? "Editar" : "Cadastrar" }}</button>
      </div>
    </form>
  </div>
</div>
