<h5>Eleitores</h5>

<div class="d-flex p-2">
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button"
      id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Filtrar</button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a (click)="blFilterNome = true" type="button" class="dropdown-item">Nome</a></li>
      <li><a (click)="blFilterCpf = true" type="button" class="dropdown-item">CPF</a></li>
    </ul>
  </div>
  <input *ngIf="blFilterNome" class="rounded" type="text" (keyup)="nomeDigitado($event.target)">
  <fa-icon *ngIf="blFilterNome" (click)="blFilterNome = false" (click)="filterNome = ''" id="x" [icon]="faX" type="button"></fa-icon>
  <input *ngIf="blFilterCpf" class="rounded" type="text" (keyup)="cpfDigitado($event.target)">
  <fa-icon *ngIf="blFilterCpf" (click)="blFilterCpf = false" (click)="filterCpf = ''" id="x" [icon]="faX" type="button"></fa-icon>
</div>

<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col" class="thead-eleitores">ID</th>
      <th scope="col" class="thead-eleitores">Nome</th>
      <th scope="col" class="thead-eleitores">CPF</th>
      <th scope="col" class="thead-eleitores">Data cadastro</th>
      <th scope="col" class="thead-eleitores">Data alteração</th>
      <th scope="col" class="thead-eleitores">Data desativação</th>
      <th scope="col" class="thead-eleitores">Status</th>
      <th scope="col" class="thead-eleitores">Votou</th>
      <th scope="col" class="thead-eleitores">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eleitor of eleitores | filterNomeEleitor: filterNome | filterCpfEleitor: filterCpf">
      <td>{{ eleitor.id }}</td>
      <td id="nome">{{ eleitor.nome }}</td>
      <td>{{ eleitor.cpf | filterFormatarCpf }}</td>
      <td>{{ eleitor.criadoEm | date: 'dd/MM/yy - HH:mm' }}</td>

      <td *ngIf="eleitor.alteradoEm !== null">{{ eleitor.alteradoEm | date: 'dd/MM/yy - HH:mm' }}</td>
      <td *ngIf="eleitor.alteradoEm === null">-</td>

      <td *ngIf="eleitor.desativadoEm !== null">{{ eleitor.desativadoEm | date: 'dd/MM/yy - HH:mm' }}</td>
      <td *ngIf="eleitor.desativadoEm === null">-</td>

      <td *ngIf="eleitor.ativo" style="color: green;">Apto</td>
      <td *ngIf="!eleitor.ativo" style="color: red;">Inapto</td>

      <td *ngIf="eleitor.votou" style="color: green;">Sim</td>
      <td *ngIf="!eleitor.votou" style="color: red;">Não</td>

      <td>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" style="background-color: black;" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngIf="!eleitor.votou"><a type="button" class="dropdown-item" *ngIf="eleitor.ativo" (click)="votar(eleitor.id)">Votar</a></li>
            <li><a type="button" class="dropdown-item" [routerLink]="['/eleitores/editar', eleitor.id]">Editar</a></li>
            <li *ngIf="!eleitor.votou"><a type="button" class="dropdown-item" (click)="deletar(eleitor.id)">Deletar</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a type="button" class="btn btn-dark botao-final" routerLink="/eleitores/cadastro">Cadastrar</a>
<a type="button" class="btn btn-dark botao-final" routerLink="">Voltar</a>
